<div align = "center">
	<%= link_to 'Login', :action => "index", :controller => "logins"%>
	<%= link_to 'Signup', new_signup_path%>
	<%= link_to 'Admin', :action => "index", :controller => "books"%>
</div>